<h1><%= @attraction.name %></h1>
<br>
<% if @user.admin %>
    <%= link_to "Edit Attraction", edit_attraction_path(@attraction) %>
<% else %>  
    <%= button_to "Go on this ride", "/attractions/#{@attraction.id}", method: "post" %>
<% end %>